.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
redisConfig.js

/archive
/redis
redisJson.options.js
0-index.js
test2.js
src/components/renderless/Crud.vue
src/components/renderless/Messaging.vue
src/components/renderless/Messaging.vue
src/components/renderless/Socket.vue
src/views/Calendar0.vue
src/views/GoogleMap0.vue
src/views/GoogleMap1.vue
src/lab/eitherAsyncDemo.js
src/lab/either-async-demo.js
src/components/renderless/ModelExperiment.vue

srv/redis/redisCache.options.js
srv/redis/redisGraph.options.js
srv/redis/options.js
src/Giving Notes.txt
redisLab/app.js
qrCodes/Fika.bc
.gitignore
qrCodes/SistersDental.bc
srv/redisGraphResults.json
srv/redisGraphResultsEdges.json
lab/
src/utils/lab.js
src/components/cards/dateTimeXCard.vue
src/js/lab.js
src/views/Lab0.vue
src/components/cards/test.json
src/components/misc/OrigMailToCard.vue
